<div class="container">
  <h3>Desktop with Camera</h3>
  <div class="well">
    {{desktop_with_camera.busy}}
    <button class="btn btn-lg btn-block btn-primary" ng-click="desktop_with_camera.start($event)" ng-disabled="busy">Iniciar Captura</button>
    <button class="btn btn-lg btn-block" ng-click="desktop_with_camera.stop($event)" ng-disabled="!busy">Finalizar Captura</button>
  </div>
  <div class="row margin-bottom">
    <div ng-class="desktop_with_camera.desktopFocus ? 'col-xs-10 pull-left':'col-xs-2 pull-right'">
      <video id="preview" width="100%" autoplay="true" ng-click="desktop_with_camera.change('desktop',$event)"></video>
    </div>
    <div ng-class="desktop_with_camera.desktopFocus ? 'col-xs-2 pull-right':'col-xs-10 pull-left'">
      <video id="webcam" width="100%" autoplay="true" ng-click="desktop_with_camera.change('webcam',$event)"></video>
    </div>
  </div>
</div>
