<div class="container">
  <form name="RepositoriesActions">
    <div class="row margin-bottom">
      <div class="col-xs-12">
        <button class="btn btn-large" ng-click="selectAll()">SELECT ALL</button>
        <button class="btn btn-success btn-large pull-right">UPLOAD</button>
        <button class="btn btn-danger btn-large pull-right margin-right" ng-click="repositories.destroy_all()">DESTROY</button>
      </div>
    </div>
    <table class="table table-striped">
      <tr ng-repeat="file in repositories.files">
        <td>
          <input class="margin-right" type="checkbox" ng-value="$index" ng-click="toggleSelection(file)" name="repositoriesIds[]" ng-checked="file.checked">
          <a ui-sref="repositories.show({filePath:file.$name})" class="margin-right"><span ng-bind-html="trustImage(file)"></span></a>
          <a ui-sref="repositories.show({filePath:file.$name})">
            <i class="fa fa-folder-open-o"></i>
            <i class="fa fa-check" ng-show="file.uploaded" title="Sincronizado"></i>
            {{file.$name}}
          </a>
        </td>
        <td>
          <button class="btn btn-xs btn-danger  pull-right margin-right"  ng-click="repositories.destroy($index)">Destroy</button>
          <button class="btn btn-xs btn-default pull-right margin-right" ng-click="repositories.openUpload($index)" ng-disabled="!repositories.profile.data">Upload</button>
          <a class="btn btn-xs btn-default pull-right margin-right" ng-click="repositories.openDownload($index)">Save on disk</a>
          <button class="btn btn-xs btn-default pull-right margin-right" ng-click="repositories.openEdit($index)">Renomear</button>
        </td>
      </tr>
    </table>
  </form>
</div>
