<h1 class="text-center">
  Upload File <br>
  <small>{{repositories.select_file.$name}}</small>
</h1>

<br>

<form name="repositoryUpload" ng-submit="repository.upload()"
      ng-init="repository.privacy=0;
              repository.filename = repositories.select_file.$name;
              repository.filepath = repositories.select_file.extensionPath;">  
  <input type="hidden" ng-model="repository.filename" required/>
  <div class="form-group">
    <h6>Privacy Level:</h6>
    <label>Private</label>
    <input class="margin-right" name="privacy" type="radio" ng-model="repository.privacy" ng-value="0" required/>
    <label>Public</label>
    <input class="margin-right" name="privacy" type="radio" ng-model="repository.privacy" ng-value="1" required/>
  </div>
  <h6 class="text-center">Please select lesson for send to DigitalClass:</h6>
  <div class="well well-sm">
    <table class="table">
      <thead>
        <tr>
          <th>Lesson</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="lesson in repositories.profile.data.lessons">
          <td>
            <input class="margin-right" name="lesson" type="radio" ng-model="repository.lesson" ng-value="lesson.id" required/>
            <label>{{lesson.name}}</label>
          </td>
          <td><small>{{lesson.description || "Empty"}}</small></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="form-group">
    <h6>Tags:</h6>
    <tags-input ng-model="repository.tags" placeholder="Input Tags"></tags-input>
  </div>
  <button type="submit" class="btn btn-large btn-success btn-block" ng-disabled="repository.disabled"><big>Start Upload</big></button>
</form>
